@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family:'poppins', sans-serif;
    width: 100vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* css to reset all the designs */

/* add styles on elements */

.header {
    border-bottom: 1px solid #E2E8F0;
    /* background-color: #222; */
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/HOJAS.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    font-size: 25px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    /* font-size: 1.6rem; */
    font-size: 2rem;
    font-weight: 400;
    /* color: #475569; */
    color: #fff;
    /* change */
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    /* font-size: 2.1rem; */
    font-size: 3rem;
    font-weight: 500;
    /* color: #482ff7; */
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: #fff; */
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.btn-1{
    display: inline-block;
    padding: 15px 35px;
    background-color: #CE967B;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #CE967B;
}

.coffee {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    width: 98%;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.coffee-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
} 

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/bg2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 15px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #eaccb3;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 245px 40px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 50%; 
}

.general-3 {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}   

h2 {
    font-size: 55px;
    line-height: 30px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.hamburguer {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.hamburgueropen {
    display: block !important;
    position: absolute;
    top: 60px;
    background-color: #333;
    width: 100%;
    text-align: center;
}

/* #####Style History##### */

.history-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-history{
    margin-top: 5%;
    font-size: 5vh;
}

.history-video{
    /* margin-top: 5%; */
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.video-history{
    width: 860px;
    height: 484px;
}

.history-zones{
    background-color:#E1E2E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: right;
}

.history-zones>h1{
    margin-top: 5%;
}

.zones-video{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video>h3{
    margin: 20px 0 10px 0;
}

.video-info{
    height: 198px;
    width: 350px;
}

#historical-figures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

#historical-figures > h2{
    margin-top: 5%;
    margin-bottom: 2%;
}

.figure-container{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    justify-content: space-evenly;
}

.figure-info{
    width: 25%;
    border: 1px solid #333;
    border-radius: 10%;
    padding: 2%;
    background-color: #eaccb3;
}

.figure-info:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
    border: 2px solid #c5c5c5;
    background-color: #CE967B;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
}

.title-figure{
    display: flex;
    justify-content: space-around;
}

.photo-figure{
    width: 45px;
    height: 45px;
    border-radius: 35%;
}

.figure-text>p{
    text-align: justify;
}

#museum{
    width: 100vw;
    background-color: #E1E2E6;
    display: flex;
    padding: 5%;
    flex-direction: column;
}

.museum-container{
    display: flex;
    width: 100%;
}

.museum-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.museum-info>p{
    padding: 2%;
    text-align: justify;
}

.museum-photo{
    width: 220px;
    height: 220px;
    border: 1px solid #CE967B;
}

#monuments{
    width: 100vw;
    padding: 5%;
}

.content-monuments{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.photo-monum{
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-monum>p{
    padding: 2%;
    text-align: justify;
}

.image-momun{
    width: 300px;
    height: 300px;
}

.culture-container{
    width: 100vw;
}

#appearances{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appearance-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.video-appearance{
    width: 860px;
    height: 484px;
}

#tours{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.tours-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tour-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}



@media screen and (max-width: 1000px) {
    .video-history{
        width: 600px;
        height: 337px;
    }

    .coffee-img{
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .general-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .general-2{
        display: none;
    }
    .general-3{
        display: none;
    }

    .btn-1{
        width: 180px;
    }
    
}

@media screen and (max-width: 900px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .general-1{
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    .general-2{
        display: none;
    }
    .general-3{
        display: none;
    }
    .btn-1{
        width: 180px;
    }

}
@media screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    .header-content h1 {
        font-size: 2.5rem;
    }

    .header-content p {
        font-size: 1rem;
        padding: 0 10px;
    }

    .coffee-group,
    .services-group {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .hamburguer {
        display: block;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .general-1{

        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .general-2{
        display: none;
    }
    .general-3{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .menu {
        padding: 10px;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content p {
        font-size: 0.8rem;
    }
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .general-1{
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .general-2{
        display: none;
    }
    .general-3{
        display: none;
    }

    .txt-p{
        align-items: flex-start;
        text-align: end;
    }
}